
#main {
  border: 2px #40bf80 solid;
  padding: 30px;
  margin: 10%;
}

body {
    font-family: Avenir, Arial, sans-serif;
    color: #2B0066;
}

h1 {
    font-weight: 500;
    letter-spacing: -1px;
    color: #40bf80;
}
