* {
  font-family: 'Helvetica';
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

body {
  text-align: left;
  padding-top: 15vh;
  padding-left: 30vw;
  padding-right: 30vw;
  color: black;
}

div {
  font-size: 24px;
}

footer {
  padding-left: 0vw;
  padding-right: 0vw;
}
